.contact-form {
  max-width: 555px;
  width: 100%;
  margin: 0 auto;

  &__form-control {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #D8E1E4;
    font-size: 14px;
    padding: 10px;
  }

  &__btn {
    display: block;
    width: 100%;
    border: none;
    padding: 9px 0;
    font-size: @font-size--btn;
    background: @gray-darkest;
    color: @white;
    cursor: pointer;
    transition: @transition-time;

    &:hover {
      background: @link-color--hover;
    }
  }
}
